.uwh-abn{
	width:3.5625em;
	height:1.75em;
}
.appcanBtn{
	background-image:url('myImg/appcanBtn.png');
}
.umar-l-ele{
	margin-left:0.8em;
}
.t-btn-ds1{
	background-image:url('myImg/t-btn-hf1.png');
}
.ufm1{
    font-family:Arial;
}




